* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.App {
    width: 100vw;
}

nav {
    height: 80px;
    width: 100%;
    padding: 0 6vw;
    background-color: green;
    display: flex;  
    align-items: center;
    color: #fff;
}

.home {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
}

.options {
    width: 600px;
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #00000037;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.optionMain {
    display: flex;
    gap: 20px;
}

.optionValueChanges {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.optionValueChange {
    display: flex;
    gap: 20px;
}

.optionMain select {
    width: 200px;
    padding: 0 10px;
}

/* home.css */

aside {
    width: 250px;
    height: 300px;
    box-shadow: 0px 0px 10px 1px #00000037;
    border-radius: 10px;
    padding: 10px;
}

.asideBtns {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.asideBtns button:nth-child(1) {
    background: #5653ea;
}   
